@import url('https://fonts.google.com/specimen/Taviraj?query=tavir');

@font-face {
  font-family: 'South Amsterdam';
  src: local('South Amsterdam'), url('./fonts/SouthAmsterdam/South-Amsterdam.ttf') format('truetype');
}

.App {
  text-align: center;
}

p {
  font-family: 'Taviraj', serif;
}

h1 {
  font-family: 'South Amsterdam';
  font-weight: normal;
  font-size: 3rem;
}
